---
import { LANGUAGES, LOCALES } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
import i18n, { t } from "i18next";

const currentUrlWithoutLocale = LOCALES.reduce(
  (acc, locale) => acc.replace(new RegExp(`/${locale}/`), "/"),
  Astro.url.pathname
);
---

<span
  class="flex items-center justify-center"
  title={t("header.change-language")}
>
  <!-- English -->
  {
    i18n.language === LANGUAGES.ENGLISH && (
      <a
        href={getRelativeLocaleUrl(LANGUAGES.SPANISH, currentUrlWithoutLocale)}
      >
        <img
          src={`/assets/logos/lang/${LANGUAGES.ENGLISH}.webp`}
          alt={t("header.language-icon", { lng: LANGUAGES.ENGLISH })}
          class="size-4"
        />
      </a>
    )
  }
  <!-- Spanish -->
  {
    i18n.language === LANGUAGES.SPANISH && (
      <a
        href={getRelativeLocaleUrl(LANGUAGES.ENGLISH, currentUrlWithoutLocale)}
      >
        <img
          src={`/assets/logos/lang/${LANGUAGES.SPANISH}.webp`}
          alt={t("header.language-icon", { lng: LANGUAGES.SPANISH })}
          class="size-4"
        />
      </a>
    )
  }
</span>
