---
import { TechnologiesList } from "@/components";
import { AboutIcon } from "@/icons";
---

<section
  id="about"
  class="scroll-mt-20 border-t border-t-white/25 px-4 py-16 shadow-inner shadow-black/75"
>
  <article class="m-auto grid max-w-6xl gap-4 md:grid-cols-2">
    <div class="flex items-center justify-center md:row-span-2">
      <figure class="hover:glow-shift hover:saturate-[115%]">
        <img
          alt="Selfie de Juan Machado mirando hacia el frente"
          src="/assets/images/juan-machado-2.webp"
          class="h-full w-64 rounded-xl ring-1 ring-white/25"
          loading="lazy"
          decoding="async"
        />
      </figure>
    </div>
    <span
      class="-order-1 flex items-center justify-center gap-4 text-white md:order-none md:justify-start"
    >
      <AboutIcon class="size-6" />
      <h2 class="text-3xl font-bold text-white md:text-4xl">About me</h2>
    </span>
    <div
      class="radial-gradient flex flex-col justify-center gap-2 text-pretty text-center text-white/75 md:text-start"
    >
      <p>
        ¡Mi nombre es Juan Pablo y vivo en Bogotá, Colombia! <br />
        Inicié en el mundo de la programación en 2020,
        <b>desarrollando un videojuego en Unity</b>. Posteriormente, migré al
        desarrollo web y culminé mi formación
        <b>tecnológica en análisis y desarrollo de sistemas de información</b>.
      </p>
      <p>
        Durante mi carrera, he trabajado en diversos proyectos innovadores y
        creativos. Destaco mi participación en el desarrollo de un proyecto para
        una
        <b
          >ONG de las Naciones Unidas enfocado en promover el desarrollo
          sostenible y la transparencia pública.
        </b>
        <p>
          Como desarrollador de software, mi objetivo es continuar creando
          <b>soluciones efectivas para problemas reales</b>, siempre dispuesto a
          aprender y mejorar mis habilidades técnicas y personales.
        </p>
        <p class="my-2">
          Estas son algunas de las <b>tecnologias</b> con las que he trabajado:
        </p>
        <TechnologiesList />
      </p>
    </div>
  </article>
</section>

<style>
  .radial-gradient {
    position: relative;
    overflow: hidden;
  }

  .radial-gradient::before,
  .radial-gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .radial-gradient::before {
    background: radial-gradient(
      50% 50% at 50% 50%,
      var(--color-secondary-transparent) 20%,
      transparent 100%
    );
  }
</style>
