---
import { TechnologiesList } from "@/components";
import { AboutIcon } from "@/icons";
import { t } from "i18next";
---

<section
  id="about"
  class="scroll-mt-20 border-t border-t-white/25 px-4 py-16 shadow-inner shadow-black/75"
>
  <article class="m-auto grid max-w-6xl gap-4 md:grid-cols-2">
    <div class="flex items-center justify-center md:row-span-2">
      <figure class="hover:glow-shift hover:saturate-[115%]">
        <img
          alt={t("about.image-alt")}
          src="/assets/images/juan-machado-2.webp"
          class="h-full w-64 rounded-xl ring-1 ring-white/25"
          loading="lazy"
          decoding="async"
        />
      </figure>
    </div>
    <span
      class="-order-1 flex items-center justify-center gap-4 text-white md:order-none md:justify-start"
    >
      <AboutIcon class="size-6" />
      <h2 class="text-3xl font-bold text-white md:text-4xl">
        {t("about.title")}
      </h2>
    </span>
    <div
      class="radial-gradient flex flex-col justify-center gap-2 text-pretty text-center text-white/75 md:text-start"
    >
      <span>
        <p>{t("about.description-1")}</p>
        <p set:html={t("about.description-2")} />
      </span>
      <p set:html={t("about.description-3")} />
      <p set:html={t("about.description-4")} />
      <p class="my-2" set:html={t("about.tech-stack-info")} />
      <TechnologiesList />
    </div>
  </article>
</section>

<style>
  .radial-gradient::before {
    background: radial-gradient(
      50% 50% at 50% 50%,
      var(--color-secondary-transparent) 20%,
      transparent 100%
    );
  }
</style>
