---
import { ExperienceList } from "@/components";
import { ExperienceIcon } from "@/icons";
---

<section
  id="experience"
  class="scroll-mt-20 border-t border-t-white/25 px-4 py-16 shadow-inner shadow-black/75"
>
  <div class="m-auto flex max-w-6xl flex-col">
    <span class="mb-4 flex items-center justify-center gap-4 text-white">
      <ExperienceIcon class="size-6" />
      <h2 class="text-center text-3xl font-bold text-white md:text-4xl">
        Experience
      </h2>
    </span>
    <p class="mb-8 text-balance text-center text-white/75">
      Durante mis <b class="text-white">+2 años de experiencia profesional</b>,
      he tenido la oportunidad de trabajar con empresas y equipos maravillosos,
      donde he logrado aportar valor y aprender de cada uno de ellos.
    </p>
    <ExperienceList />
  </div>
</section>
