---
import { EmailIcon, GithubIcon, LinkedinIcon } from "@/icons";
---

<footer
  class="border-t border-t-white/25 px-4 py-16 shadow-inner shadow-black/50 bg-black/10"
>
  <div
    class="m-auto flex max-w-6xl flex-col items-center justify-center text-center"
  >
    <p class="mb-2">
      <span
        class="text-gradient bg-gradient-to-r from-primary to-secondary font-semibold"
      >
        Let's get in touch!
      </span>
    </p>

    <ul class="flex gap-4">
      <li class="flex">
        <a
          href="mailto:juanpmachadob@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          title="Email"
        >
          <EmailIcon class="size-8 text-white hover:text-primary" />
        </a>
      </li>
      <li class="flex">
        <a
          href="https://www.linkedin.com/in/juanpmachadob/"
          target="_blank"
          rel="noopener noreferrer"
          title="Linkedin"
        >
          <LinkedinIcon class="size-8 text-white hover:text-primary" />
        </a>
      </li>
      <li class="flex">
        <a
          href="https://github.com/juanpmachadob/"
          target="_blank"
          rel="noopener noreferrer"
          title="Github"
        >
          <GithubIcon class="size-8 text-white hover:text-primary" />
        </a>
      </li>
    </ul>
    <hr
      class="my-8 h-px w-1/2 border-0 bg-gradient-to-r from-transparent via-white/25 to-transparent"
    />
    <p class="text-white/35">
      Feel free to contact me regarding <b>any project</b>.
    </p>
    <p class="text-white/35">
      I'm always open to new
      <b>challenges</b>
      and collaborations.
    </p>
    <a class="group mt-4 text-white/75" href="#top">
      Portfolio
      <span class="text-white/35">⌨</span>
      by
      <b class="group-hover:text-primary">Juan Pablo Machado</b>
    </a>
  </div>
</footer>
