---
import { Button } from "@/components";
import { CurriculumIcon, EmailIcon, GithubIcon, LinkedinIcon } from "@/icons";
---

<section
  id="hero"
  class="flex items-center justify-center px-4 py-16 shadow-inner shadow-black/75"
>
  <div
    class="m-auto grid items-center gap-y-8 md:max-w-6xl md:grid-cols-2 md:grid-rows-2 md:gap-y-0"
  >
    <h1
      class="text-balance text-center text-3xl font-semibold text-light md:text-start md:text-4xl"
    >
      <span class="md:text-nowrap">Frontend Developer</span>
      <span
        class="text-gradient block text-nowrap bg-gradient-to-r from-primary to-secondary text-center text-5xl font-bold md:text-start md:text-6xl"
      >
        Juan Machado
      </span>
      👋
    </h1>
    <div
      class="order-2 flex flex-col gap-8 text-center md:order-none md:text-start"
    >
      <h2 class="text-balance text-lg text-white/75">
        Me apasiona el desarrollo de software, por eso me dedico a crear
        proyectos desafiantes que fomenten mi aprendizaje y crecimiento
        profesional.
      </h2>

      <div class="flex flex-col gap-2">
        <p class="text-pretty text-lg text-white/75">
          ¿Tienes un proyecto en mente?
          <b class="text-white">¡Trabajemos juntos!</b>
        </p>
        <ul
          class="flex w-full flex-col items-center justify-center gap-4 md:flex-row md:justify-start"
        >
          <li class="relative flex">
            <Button
              href="https://drive.google.com/file/d/1KRMIzpcVxVHOgJbOIJg-P-UY5n16RmKv/view?usp=sharing"
              target="_blank"
              variant="gradient"
            >
              <CurriculumIcon class="size-6 text-white" />
              Download CV
            </Button>
          </li>
          <li class="flex gap-2">
            <!-- Email -->
            <Button
              href="mailto:juanpmachadob@gmail.com"
              rel="noopener noreferrer"
              title="Email"
            >
              <EmailIcon class="size-6 text-white" />
            </Button>
            <!-- Linkedin -->
            <Button
              href="https://www.linkedin.com/in/juanpmachadob/"
              target="_blank"
              rel="noopener noreferrer"
              title="Linkedin"
            >
              <LinkedinIcon class="size-6 text-white" />
            </Button>
            <!-- Github -->
            <Button
              href="https://github.com/juanpmachadob/"
              target="_blank"
              rel="noopener noreferrer"
              title="Github"
            >
              <GithubIcon class="size-6 text-white" />
            </Button>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="relative flex items-center justify-center md:col-start-2 md:row-span-2 md:row-start-1 md:h-0"
    >
      <figure class="hover:saturate-[115%]">
        <img
          alt="Juan Pablo Machado"
          src="/assets/images/juan-machado-1.webp"
          class="img-hero w-72"
        />
      </figure>
    </div>
  </div>
</section>

<style>
  #hero {
    position: relative;
    min-height: calc(100vh - 80px);
    overflow: hidden;
  }

  #hero::before,
  #hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #hero::before {
    background: radial-gradient(
      50% 50% at 50% 50%,
      var(--color-primary-transparent) 20%,
      transparent 100%
    );
    animation: fadeAndShrink 3s ease-in-out infinite alternate;
  }

  #hero::after {
    background: radial-gradient(
      50% 50% at 50% 50%,
      var(--color-secondary-transparent) 20%,
      transparent 100%
    );
    animation: fadeAndGrow 3s ease-in-out infinite alternate;
  }

  .img-hero {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  }
</style>
