---
import { LanguageSelector } from "@/components";
import { MenuIcon } from "@/icons";
import { getRelativeLocaleUrl } from "astro:i18n";
import i18n, { t } from "i18next";
---

<div>
  <nav
    class="fixed top-0 z-20 w-full border-b border-b-white/25 bg-black/25 text-white shadow shadow-black/75 backdrop-blur-3xl"
    transition:name="header"
  >
    <div
      class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between px-4"
    >
      <a href="/#top" class="flex h-20 items-center hover:underline"
        >Juan Pablo <b>&nbsp;Machado</b></a
      >
      <div class="flex items-center">
        <button
          id="menu-toggle"
          type="button"
          class="items-center justify-center rounded-lg px-2 text-white/75 transition-colors hover:text-white focus:outline-none md:hidden"
        >
          <span class="sr-only">{t("header.toggle-menu")}</span>
          <MenuIcon class="size-5" />
        </button>
      </div>
      <div
        class="hidden w-full items-center justify-between md:flex md:w-auto"
        id="navbar-sticky"
      >
        <ul
          class="my-4 flex flex-col items-center gap-4 text-center md:my-0 md:flex-row"
        >
          <li>
            <LanguageSelector />
          </li>
          <li>
            <a
              href={getRelativeLocaleUrl(i18n.language) + "#experience"}
              class="block rounded-lg p-2 text-white/75 transition-colors hover:text-white active:text-primary md:hover:underline"
              >{t("experience.title")}</a
            >
          </li>
          <li>
            <a
              href={getRelativeLocaleUrl(i18n.language) + "#projects"}
              class="block rounded-lg p-2 text-white/75 transition-colors hover:text-white active:text-primary md:hover:underline"
              >{t("projects.title")}</a
            >
          </li>
          <li>
            <a
              href={getRelativeLocaleUrl(i18n.language) + "#about"}
              class="block rounded-lg p-2 text-white/75 transition-colors hover:text-white active:text-primary md:hover:underline"
              >{t("about.title")}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <span class="block h-20 w-full"></span>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navbarToggle = document.querySelector("#menu-toggle");
    const navbarSticky = document.querySelector("#navbar-sticky");
    if (!navbarToggle || !navbarSticky) return;

    navbarToggle.addEventListener("click", () => {
      navbarSticky.classList.toggle("hidden");
    });
  });
</script>
